@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: 0 0% 100%;
  --foreground: 188.1356 56.1905% 20.5882%;
  --card: 0 0% 100%;
  --card-foreground: 188.1356 56.1905% 20.5882%;
  --popover: 0 0% 100%;
  --popover-foreground: 188.1356 56.1905% 20.5882%;
  --primary: 183.3645 65.6442% 31.9608%;
  --primary-foreground: 0 0% 100%;
  --secondary: 180 14.2857% 97.2549%;
  --secondary-foreground: 188.1356 56.1905% 20.5882%;
  --muted: 180 14.2857% 98.6275%;
  --muted-foreground: 182.5532 22.2749% 41.3725%;
  --accent: 180 25.7143% 93.1373%;
  --accent-foreground: 188.1356 56.1905% 20.5882%;
  --destructive: 358.7629 44.2922% 57.0588%;
  --destructive-foreground: 0 0% 100%;
  --border: 180 16.6667% 92.9412%;
  --input: 180 14.2857% 97.2549%;
  --ring: 183.3645 65.6442% 31.9608%;
  --chart-1: 183.3645 65.6442% 31.9608%;
  --chart-2: 182.8302 49.0741% 42.3529%;
  --chart-3: 182.5532 39.1667% 52.9412%;
  --chart-4: 182.6087 38.1215% 64.5098%;
  --chart-5: 182.6667 39.1304% 77.4510%;
  --sidebar: 180 20.0000% 98.0392%;
  --sidebar-foreground: 188.1356 56.1905% 20.5882%;
  --sidebar-primary: 183.3645 65.6442% 31.9608%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 180 25.7143% 93.1373%;
  --sidebar-accent-foreground: 188.1356 56.1905% 20.5882%;
  --sidebar-border: 180 16.6667% 92.9412%;
  --sidebar-ring: 183.3645 65.6442% 31.9608%;
  --font-sans: Courier New, monospace;
  --font-serif: Courier New, monospace;
  --font-mono: Courier New, monospace;
  --radius: 0.125rem;
  --shadow-2xs: 1px 1px 2px 0px hsl(184.2857 50.0000% 32.9412% / 0.07);
  --shadow-xs: 1px 1px 2px 0px hsl(184.2857 50.0000% 32.9412% / 0.07);
  --shadow-sm: 1px 1px 2px 0px hsl(184.2857 50.0000% 32.9412% / 0.15), 1px 1px 2px -1px hsl(184.2857 50.0000% 32.9412% / 0.15);
  --shadow: 1px 1px 2px 0px hsl(184.2857 50.0000% 32.9412% / 0.15), 1px 1px 2px -1px hsl(184.2857 50.0000% 32.9412% / 0.15);
  --shadow-md: 1px 1px 2px 0px hsl(184.2857 50.0000% 32.9412% / 0.15), 1px 2px 4px -1px hsl(184.2857 50.0000% 32.9412% / 0.15);
  --shadow-lg: 1px 1px 2px 0px hsl(184.2857 50.0000% 32.9412% / 0.15), 1px 4px 6px -1px hsl(184.2857 50.0000% 32.9412% / 0.15);
  --shadow-xl: 1px 1px 2px 0px hsl(184.2857 50.0000% 32.9412% / 0.15), 1px 8px 10px -1px hsl(184.2857 50.0000% 32.9412% / 0.15);
  --shadow-2xl: 1px 1px 2px 0px hsl(184.2857 50.0000% 32.9412% / 0.38);
  --tracking-normal: -0.05em;
  --spacing: 0.23rem;
}

.dark {
  --background: 195.7895 37.2549% 10%;
  --foreground: 178.7234 55.2941% 66.6667%;
  --card: 192 37.0370% 10.5882%;
  --card-foreground: 178.7234 55.2941% 66.6667%;
  --popover: 192 37.0370% 10.5882%;
  --popover-foreground: 178.7234 55.2941% 66.6667%;
  --primary: 178.7234 55.2941% 66.6667%;
  --primary-foreground: 195.7895 37.2549% 10%;
  --secondary: 189.7959 41.8803% 22.9412%;
  --secondary-foreground: 178.7234 55.2941% 66.6667%;
  --muted: 190.9091 41.7722% 15.4902%;
  --muted-foreground: 178.6207 36.0996% 47.2549%;
  --accent: 189.7959 41.8803% 22.9412%;
  --accent-foreground: 178.7234 55.2941% 66.6667%;
  --destructive: 359.4286 55.5556% 62.9412%;
  --destructive-foreground: 0 0% 94.9020%;
  --border: 189.7959 41.8803% 22.9412%;
  --input: 189.7959 41.8803% 22.9412%;
  --ring: 178.7234 55.2941% 66.6667%;
  --chart-1: 178.7234 55.2941% 66.6667%;
  --chart-2: 178.6207 36.0996% 47.2549%;
  --chart-3: 179.1781 36.3184% 39.4118%;
  --chart-4: 183.3962 40.4580% 25.6863%;
  --chart-5: 185 43.9024% 16.0784%;
  --sidebar: 195.7895 37.2549% 10%;
  --sidebar-foreground: 178.7234 55.2941% 66.6667%;
  --sidebar-primary: 178.7234 55.2941% 66.6667%;
  --sidebar-primary-foreground: 195.7895 37.2549% 10%;
  --sidebar-accent: 189.7959 41.8803% 22.9412%;
  --sidebar-accent-foreground: 178.7234 55.2941% 66.6667%;
  --sidebar-border: 189.7959 41.8803% 22.9412%;
  --sidebar-ring: 178.7234 55.2941% 66.6667%;
  --font-sans: Source Code Pro, monospace;
  --font-serif: Source Code Pro, monospace;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.125rem;
  --shadow-2xs: 1px 1px 2px 0px hsl(179.3023 49.4253% 65.8824% / 0.10);
  --shadow-xs: 1px 1px 2px 0px hsl(179.3023 49.4253% 65.8824% / 0.10);
  --shadow-sm: 1px 1px 2px 0px hsl(179.3023 49.4253% 65.8824% / 0.20), 1px 1px 2px -1px hsl(179.3023 49.4253% 65.8824% / 0.20);
  --shadow: 1px 1px 2px 0px hsl(179.3023 49.4253% 65.8824% / 0.20), 1px 1px 2px -1px hsl(179.3023 49.4253% 65.8824% / 0.20);
  --shadow-md: 1px 1px 2px 0px hsl(179.3023 49.4253% 65.8824% / 0.20), 1px 2px 4px -1px hsl(179.3023 49.4253% 65.8824% / 0.20);
  --shadow-lg: 1px 1px 2px 0px hsl(179.3023 49.4253% 65.8824% / 0.20), 1px 4px 6px -1px hsl(179.3023 49.4253% 65.8824% / 0.20);
  --shadow-xl: 1px 1px 2px 0px hsl(179.3023 49.4253% 65.8824% / 0.20), 1px 8px 10px -1px hsl(179.3023 49.4253% 65.8824% / 0.20);
  --shadow-2xl: 1px 1px 2px 0px hsl(179.3023 49.4253% 65.8824% / 0.50);
}

body {
  letter-spacing: var(--tracking-normal);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}